app:
  links:
    - db_test

db_test:
  image: mysql:5.7
  volumes:
    - /var/lib/mysql
  ports:
    - "3307:3306"
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: zfg
    MYSQL_USER: zfg_dbu
    MYSQL_PASSWORD: zfg_pass